# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# guide
oauth_setup_guide.md
Google_OAuth_Deployment_Guide.md
Railway_Deployment_Guide.md
SETUP_AND_DEVELOPMENT.md
TiDB_Deployment_Guide.md