fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
numpy
google-auth
pydantic[email]
python-dotenv
pywebpush
apscheduler
websockets
cryptography
pytest
httpx
requests
PyMySQL
python-multipart
openpyxl
odfpy
